<div class="container">

  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="Filtrele($event)">
  </mat-form-field>

  <button mat-fab matTooltip="Öğrenci Ekle" color="primary" (click)="Ekle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="ogrAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrSoyadi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci Soyadı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrSoyadi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci Numarası
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrNo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrDersSayisi">
      <mat-header-cell *matHeaderCellDef> Öğrenci Ders Sayisi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrDersSayisi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrAciklama">
      <mat-header-cell *matHeaderCellDef> Öğrenci Açıklaması
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrAciklama}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button  color="warn" matTooltip="Dersleri Listele" [routerLink]="['/derslistele',kayit.ogrId]">
          <mat-icon aria-label="label">article</mat-icon>
        </button>
        <button mat-icon-button  color="warn" matTooltip="Öğrenci Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>
        <button mat-icon-button  color="primary" matTooltip="Öğrenci Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>



      </mat-cell>
    </ng-container>
  
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator 
        [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons="">
  </mat-paginator>
</div>